.app__provas {
  padding: 1.7rem 3.5rem;
}

.app__provas button{
  border: none;
  background-color: #242424;
  color: #fff;
  padding: 1.4rem 4rem;
  margin-right: 2rem;
  border-radius: .5rem;
  cursor: pointer;

}