* {
    padding: 0;
    margin: 0;
    color: inherit;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.al-between {
    align-items: space-between;
}

.al-center {
    align-items: center;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.wh100 {
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000044;
}

.content {
    padding: 1.4rem 2rem;
    z-index: 2;
    background-color: #fff;
    border-radius: .5rem;
    width: 75%;
    height: 75%;
}

.close::before {
    cursor: pointer;
    content: 'X';
    position: absolute;
    top: .8rem;
    right: .8rem;
    color: #921414;
}
